write-kubeconfig-mode: "0644"
token: {{ hostvars['server1']['token'] }}
server: https://{{ hostvars['server1']['ansible_host'] }}:9345
tls-san:
  - {{ vip }}
  - {{ hostvars['server1']['ansible_host'] }}
  - {{ hostvars['server2']['ansible_host'] }}
  - {{ hostvars['server3']['ansible_host'] }}
node-label:
  - server=true
cluster-cidr: 192.168.0.0/16
service-cidr: 172.26.0.0/16
